.creator {
  margin-top: 150px;
  &__title-control {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    color: $title-color;
    font-size: $font-regular-title;
  }
  &__control-case {
    span {
      color: $title-color;
      font-size: $font-secondary-text;
    }
  }
  &__cards-panel {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  &__control-case {
    gap: 10px;
    margin-right: 20px ;
    p {
      font-size: $font-secondary-text;
      color: $text-color-second;
      margin-top: 12px;
    }
    span {
      font-size: 30px;
      &:hover {
        transition: $regular-transition;
        color: $accent-color;
        cursor: pointer;
      }
    }
  }
  &__wrapper-cards {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }
  img {
    transition: transform 2s ease-out 0.9s, box-shadow 2s ease-out 0.9s;
    border-radius: 50%;
  }
  .card {
    width: 22%;
    background-color: #2A263E;
    border-radius: 12px;
    transition: box-shadow 2s ease-out 0.9s;
    &:hover {
      transition: 1s;
      background-color: $title-color;
      box-shadow: 5px 5px 15px 5px #370D80;
      img {
        transform: scale(1.15);
        transition: 1s;
        box-shadow: 5px 5px 15px 5px #370D80;
        border-radius: 50%;
      }
      h6 {
        color: #2A263E;
      }
    }
  }
  .card-subtitle {
    margin-top: 20px;
    font-size: $font-regular-text;
    font-weight: $font-weight-text;
    color: $title-color;
  }
  &__wrapper-down-card {
    display: flex;
    justify-content: space-between;
  }
  .card-link {
    color: $text-color-second;
    font-weight: $font-weight-small !important;
    font-size: $font-weight-text !important;
  }
  &__picture > img {
    margin: 15px auto 0;
  }

}