.category {
  margin-top: 100px;
  &__title {
    color: $title-color;
    font-size: $font-regular-title;
    font-weight: $font-weight-text;
  }
  &__content {
    margin-top: 50px;
  }
  .card {
    margin: 0 auto;
    border-radius: 12px;
    border: none;
    /*
    width: 24rem;

     */
    background: $header-panel-color;
    transition: transform 2s ease-out 0.5s;
    &:hover {
      background: linear-gradient(106deg, rgba(77,11,167,1) 14%, rgba(76,80,223,1) 44%, rgba(184,8,224,1) 92%);
      transition: $regular-transition;
      transform: scale(1.1);
      h2 {
        color: black;
        transition: $regular-transition;
      }
    }
  }
  &__card-title {
    text-align: center;
    font-weight: $font-weight-text;
    font-size: $font-regular-title;
    color: $title-color;
  }
  &__item-bellow {
    margin-top: 20px;
  }
}