
$accent-color: #A73BCC;
$background-color: #141229;
$title-color: #DDDCF1;
$text-color-second: #8D89A1;
$header-panel-color: #2A263E;

$font-weight-title: 700;
$font-weight-text: 600;
$font-weight-small: 500;

$font-regular-title: 40px;
$font-regular-text: 20px;
$font-secondary-text: 16px;

$regular-transition: .5s;